.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 120px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 14px;
      font-weight: bold;
      color: rgb(160, 160, 160);
      text-transform: uppercase;
    }
  
    .counter {
      font-size: 28px;
      font-weight: 300;
    }
  
    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
      cursor: pointer;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }

    }

    .icon {
      align-self: flex-end;
      font-size: 28px;
      padding: 5px;
      background-color: #ece8ff;
      border-radius: 5px;

      &.user {
        color: crimson;
        background-color: rgba(255, 0, 0, 0.2);
      }

      &.order {
        color: goldenrod;
        background-color: rgba(218, 165, 32, 0.2);
      }

      &.earning {
        color: green;
        background-color: rgba(0, 128, 0, 0.2);
      }

      &.balance {
        color: purple;
        background-color: rgba(128, 0, 128, 0.2);
      }
    }
  }
}