.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid lightgrey;
      border-radius: 5px;
      padding: 5px;
      max-width: 400px;
      width: 100%; 
      

      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%; 

        &::placeholder {
          font-size: 12px;
        }
      }

      .searchIcon {
        cursor: pointer;
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-left: 20px;
        position: relative;

        .icon {
          font-size: 20px;
          cursor: pointer;
        }

        span {
          font-size: 12px;
          cursor: pointer;
        }

        .counter {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          background-color: red;
          color: #ffff;
          border-radius: 50%;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
          cursor: pointer;
        }

        .avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
        
      }
    }
  }
}