.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        margin: 15px auto;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 20px;
          color: #7451f8;
        }
  
        span {
          font-size: 14px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }


    }

  }

  .bottom {
    padding-left: 10px;

    .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        margin: 15px auto;
    }

    .bottom-content {
      display: flex;
      align-items: center;
      
      .colorOption {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
  
        &:nth-child(1) {
          background-color: whitesmoke;
          margin-right: 10px;
        }
  
        &:nth-child(2) {
          background-color: #333;
        }
      }
    }
  }

}